.grettings {
    background: url(/img/grettings/IMAGE.png) no-repeat center/cover;
    padding: 30px;
}
.container {
}
.grettings__content {
}
.header {
}
.logo {
}
.nav {
}
.nav__list {
}
.nav__item {
}
.square {
}
.grettings__desc {
}
.grettings__title {
}
.grettings__text {
}